{% extends 'app1/base.html' %}

{% block title_pagina %}
<title>Chef</title>
{% endblock title_pagina %}

{% block ver_chefs %}

<button type="submit"><a class="btn dark" href={% url 'ver_chefs' %}>Atras</a></button>


<p>
    <li><strong>Nombre: </strong> {{chef.nombre}} </li>
    <li><strong>Apellido: </strong> {{chef.apellido}} </li>
    <li><strong>Edad: </strong> {{chef.edad}} </li>
    <li><strong>Receta Preferida: </strong> {{chef.receta_preferida}} </li>
    <li><strong>Descripcion de la Receta: </strong> {{chef.descripcion |safe}} </li>
        

  {% if chef.imagen_receta %}
  <img src={{chef.imagen_receta.url}} alt="" width = '400' > 
  {% else %}
  Imagen no subida.
  {% endif %} 
    
  <li><strong>Publicó : </strong> {{request.user.username}} </li>
    
</p>

{% endblock ver_chefs %}