{% extends 'app1/base.html' %}

{% block ver_chefs %}
<button type="submit"><a class="navbar-brand" href={% url 'crear_chef' %}>Crear Chef</a></button>
<p> <h2> Listado de Chefs:</p></h2>

<p>
    {% if object_list %}

        {% for chef in object_list %}
            </h2><li>
                    {{chef}}
                    <a href={% url 'editar_chef' chef.id %}>Editar</a>                    
                    <a href={% url 'eliminar_chef' chef.id %}>Eliminar</a>              
            </h2></li>
        {% endfor %}

    {% else %}
        <p>No se encontraron resultados.</p>
    {% endif %}

</p>
{% endblock ver_chefs %}