{% extends 'app1/base.html' %}

{% block title_pagina %}
<title>Chef</title>
{% endblock title_pagina %}

{% block ver_chefs %}

<button type="submit"><a class="btn dark" href={% url 'ver_chefs' %}>Atras</a></button>


<p>
    <li><strong>Nombre: </strong> {{chef.nombre.capitalize}} </li>
    <li><strong>Apellido: </strong> {{chef.apellido.capitalize}} </li>
    <li><strong>Edad: </strong> {{chef.edad}} </li>
    <li><strong>Receta Preferida: </strong> {{chef.receta_preferida.capitalize}} </li>
    <li><strong>Descripcion de la Receta: </strong> {{chef.descripcion |safe}} </li>
        

  {% if chef.imagen_receta %}
  <img src={{chef.imagen_receta.url}} alt="" width = '400' > 
  {% else %}
  Imagen no subida.
  {% endif %} 
    
<p></p>
  <strong> Lo publicó  {{chef.nombre.capitalize}} {{chef.apellido.capitalize}}, el {{chef.fecha_creacion}} . </strong> 

</p>

{% endblock ver_chefs %}